
<% if user_signed_in? %>
<h3>Friend List</h3>


<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Mail</th>
    <th scope="col">Phone</th>
    <th scope="col">TwtHandle</th>
    <th scope="col">User_id</th>
    <th scope="colspan-3">Details</th>
    <th scope="colspan-3">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= friend.user_id %></td>
          <td><%= link_to 'Show', friend, class: "btn btn-info" %></td>
          <td><%= link_to 'Delete', friend, method: :delete, class: "btn btn-outline-danger" %></td>
          
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>
  <h1>Home#index</h1>
  <p>Hello from app/views/home/index.html.erb</p>
<% end %>
 

